# Angular / Node
node_modules/
dist/
.angular/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
*.sqlite3

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db